USE [master]
GO
/****** Object:  Database [Contestqso]    Script Date: 1/22/2017 9:45:07 PM ******/
CREATE DATABASE [Contestqso]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ContestQso', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQL2012\MSSQL\DATA\ContestQso.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ContestQso_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQL2012\MSSQL\DATA\ContestQso_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Contestqso].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Contestqso]
GO
/****** Object:  User [jims9m8r]    Script Date: 1/22/2017 9:45:07 PM ******/
CREATE USER [jims9m8r] FOR LOGIN [jims9m8r] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1/22/2017 9:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CatAssisted]    Script Date: 1/22/2017 9:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CatAssisted](
	[CatAssistedEnum] [int] NOT NULL,
	[CatAssistedName] [varchar](15) NOT NULL,
	[Index] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo.CatAssisted] PRIMARY KEY CLUSTERED 
(
	[CatAssistedEnum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CatBand]    Script Date: 1/22/2017 9:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CatBand](
	[CatBandEnum] [int] NOT NULL,
	[CatBandName] [varchar](4) NOT NULL,
	[Index] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo.CatBand] PRIMARY KEY CLUSTERED 
(
	[CatBandEnum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CatDefault]    Script Date: 1/22/2017 9:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CatDefault](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](256) NOT NULL,
	[CatOperatorEnum] [int] NOT NULL,
	[CatAssistedEnum] [int] NOT NULL,
	[CatBandEnum] [int] NOT NULL,
	[CatNoOfTxEnum] [int] NOT NULL,
	[CatPowerEnum] [int] NOT NULL,
 CONSTRAINT [PK_dbo.CatDefault] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CatNoOfTx]    Script Date: 1/22/2017 9:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CatNoOfTx](
	[CatNoOfTxEnum] [int] NOT NULL,
	[CatNoOfTxName] [varchar](12) NOT NULL,
	[Index] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo.CatNoOfTx] PRIMARY KEY CLUSTERED 
(
	[CatNoOfTxEnum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CatOperator]    Script Date: 1/22/2017 9:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CatOperator](
	[CatOperatorEnum] [int] NOT NULL,
	[CatOprName] [varchar](20) NOT NULL,
	[Index] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo.CatOperator] PRIMARY KEY CLUSTERED 
(
	[CatOperatorEnum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CatPower]    Script Date: 1/22/2017 9:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CatPower](
	[CatPowerEnum] [int] NOT NULL,
	[CatPowerName] [varchar](6) NOT NULL,
	[Index] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo.CatPower] PRIMARY KEY CLUSTERED 
(
	[CatPowerEnum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FiltBand]    Script Date: 1/22/2017 9:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FiltBand](
	[FiltBnd] [int] NOT NULL,
	[FiltBandName] [varchar](4) NOT NULL,
	[Index] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo.FiltBand] PRIMARY KEY CLUSTERED 
(
	[FiltBnd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FiltContinent]    Script Date: 1/22/2017 9:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FiltContinent](
	[FiltCont] [int] NOT NULL,
	[FiltContName] [varchar](3) NOT NULL,
	[Index] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo.FiltContinent] PRIMARY KEY CLUSTERED 
(
	[FiltCont] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FiltCQZone]    Script Date: 1/22/2017 9:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FiltCQZone](
	[FiltCQZoneVal] [varchar](6) NOT NULL,
	[Index] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo.FiltCQZone] PRIMARY KEY CLUSTERED 
(
	[FiltCQZoneVal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FiltDefaullt]    Script Date: 1/22/2017 9:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FiltDefaullt](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](256) NOT NULL,
	[FiltBnd] [int] NOT NULL,
	[FiltCont] [int] NOT NULL,
	[FiltPref] [varchar](10) NOT NULL,
	[FiltCQZoneVal] [varchar](6) NOT NULL,
 CONSTRAINT [PK_dbo.FiltDefaullt] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FiltPrefix]    Script Date: 1/22/2017 9:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FiltPrefix](
	[FiltPref] [varchar](10) NOT NULL,
	[CountryName] [varchar](24) NOT NULL,
 CONSTRAINT [PK_dbo.FiltPrefix] PRIMARY KEY CLUSTERED 
(
	[FiltPref] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XaxisDefault]    Script Date: 1/22/2017 9:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XaxisDefault](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](256) NOT NULL,
	[XaxisDurationTime] [varchar](4) NOT NULL,
	[XaxisStrtTime] [varchar](20) NOT NULL,
 CONSTRAINT [PK_dbo.XaxisDefault] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XaxisDuration]    Script Date: 1/22/2017 9:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XaxisDuration](
	[XaxisDurationTime] [varchar](4) NOT NULL,
	[Index] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo.XaxisDuration] PRIMARY KEY CLUSTERED 
(
	[XaxisDurationTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XaxisStartTime]    Script Date: 1/22/2017 9:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XaxisStartTime](
	[XaxisStrtTime] [varchar](20) NOT NULL,
	[Index] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo.XaxisStartTime] PRIMARY KEY CLUSTERED 
(
	[XaxisStrtTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[YaxisDefault]    Script Date: 1/22/2017 9:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[YaxisDefault](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](256) NOT NULL,
	[YaxisFuncName] [varchar](20) NOT NULL,
	[YaxisIntvVal] [varchar](4) NOT NULL,
	[YaxisViewTypeName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_dbo.YaxisDefault] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[YaxisFunction]    Script Date: 1/22/2017 9:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[YaxisFunction](
	[YaxisFuncName] [varchar](20) NOT NULL,
	[Index] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo.YaxisFunction] PRIMARY KEY CLUSTERED 
(
	[YaxisFuncName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[YaxisInterval]    Script Date: 1/22/2017 9:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[YaxisInterval](
	[YaxisIntvVal] [varchar](4) NOT NULL,
	[Index] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo.YaxisInterval] PRIMARY KEY CLUSTERED 
(
	[YaxisIntvVal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[YaxisViewType]    Script Date: 1/22/2017 9:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[YaxisViewType](
	[YaxisViewTypeName] [varchar](20) NOT NULL,
	[Index] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo.YaxisViewType] PRIMARY KEY CLUSTERED 
(
	[YaxisViewTypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CatAssisted] ([CatAssistedEnum], [CatAssistedName], [Index]) VALUES (1, N'ALL', 1)
INSERT [dbo].[CatAssisted] ([CatAssistedEnum], [CatAssistedName], [Index]) VALUES (2, N'ASSISTED', 2)
INSERT [dbo].[CatAssisted] ([CatAssistedEnum], [CatAssistedName], [Index]) VALUES (3, N'NON-ASSISTED', 3)
INSERT [dbo].[CatBand] ([CatBandEnum], [CatBandName], [Index]) VALUES (1, N'ALL', 1)
INSERT [dbo].[CatBand] ([CatBandEnum], [CatBandName], [Index]) VALUES (2, N'160M', 2)
INSERT [dbo].[CatBand] ([CatBandEnum], [CatBandName], [Index]) VALUES (3, N'80M', 3)
SET IDENTITY_INSERT [dbo].[CatDefault] ON 

INSERT [dbo].[CatDefault] ([Id], [UserName], [CatOperatorEnum], [CatAssistedEnum], [CatBandEnum], [CatNoOfTxEnum], [CatPowerEnum]) VALUES (1, N'default', 1, 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[CatDefault] OFF
INSERT [dbo].[CatNoOfTx] ([CatNoOfTxEnum], [CatNoOfTxName], [Index]) VALUES (1, N'ALL', 1)
INSERT [dbo].[CatNoOfTx] ([CatNoOfTxEnum], [CatNoOfTxName], [Index]) VALUES (2, N'ONE', 2)
INSERT [dbo].[CatNoOfTx] ([CatNoOfTxEnum], [CatNoOfTxName], [Index]) VALUES (3, N'TWO', 3)
INSERT [dbo].[CatOperator] ([CatOperatorEnum], [CatOprName], [Index]) VALUES (1, N'ALL', 1)
INSERT [dbo].[CatOperator] ([CatOperatorEnum], [CatOprName], [Index]) VALUES (2, N'SINGLE-OP', 2)
INSERT [dbo].[CatOperator] ([CatOperatorEnum], [CatOprName], [Index]) VALUES (3, N'MULTI-OP', 3)
INSERT [dbo].[CatPower] ([CatPowerEnum], [CatPowerName], [Index]) VALUES (1, N'ALL', 1)
INSERT [dbo].[CatPower] ([CatPowerEnum], [CatPowerName], [Index]) VALUES (2, N'HIGH', 2)
INSERT [dbo].[CatPower] ([CatPowerEnum], [CatPowerName], [Index]) VALUES (3, N'LOW', 3)
INSERT [dbo].[FiltBand] ([FiltBnd], [FiltBandName], [Index]) VALUES (1, N'ALL', 1)
INSERT [dbo].[FiltBand] ([FiltBnd], [FiltBandName], [Index]) VALUES (2, N'160M', 2)
INSERT [dbo].[FiltBand] ([FiltBnd], [FiltBandName], [Index]) VALUES (3, N'80M', 3)
INSERT [dbo].[FiltContinent] ([FiltCont], [FiltContName], [Index]) VALUES (0, N'ALL', 1)
INSERT [dbo].[FiltContinent] ([FiltCont], [FiltContName], [Index]) VALUES (1, N'NA', 2)
INSERT [dbo].[FiltContinent] ([FiltCont], [FiltContName], [Index]) VALUES (2, N'SA', 6)
INSERT [dbo].[FiltCQZone] ([FiltCQZoneVal], [Index]) VALUES (N'1', 2)
INSERT [dbo].[FiltCQZone] ([FiltCQZoneVal], [Index]) VALUES (N'10', 11)
INSERT [dbo].[FiltCQZone] ([FiltCQZoneVal], [Index]) VALUES (N'11', 12)
SET IDENTITY_INSERT [dbo].[FiltDefaullt] ON 

INSERT [dbo].[FiltDefaullt] ([Id], [UserName], [FiltBnd], [FiltCont], [FiltPref], [FiltCQZoneVal]) VALUES (1, N'default', 1, 0, N'-', N'ALL')
SET IDENTITY_INSERT [dbo].[FiltDefaullt] OFF
INSERT [dbo].[FiltPrefix] ([FiltPref], [CountryName]) VALUES (N'-', N'ALL')
INSERT [dbo].[FiltPrefix] ([FiltPref], [CountryName]) VALUES (N'1A', N'Sov Mil Order of')
INSERT [dbo].[FiltPrefix] ([FiltPref], [CountryName]) VALUES (N'1S', N'Spratly Is.')
GO
SET IDENTITY_INSERT [dbo].[XaxisDefault] ON 

INSERT [dbo].[XaxisDefault] ([Id], [UserName], [XaxisDurationTime], [XaxisStrtTime]) VALUES (1, N'default', N'48', N'00:00z  Day1')
SET IDENTITY_INSERT [dbo].[XaxisDefault] OFF
INSERT [dbo].[XaxisDuration] ([XaxisDurationTime], [Index]) VALUES (N'1', 2)
INSERT [dbo].[XaxisDuration] ([XaxisDurationTime], [Index]) VALUES (N'12', 6)
INSERT [dbo].[XaxisDuration] ([XaxisDurationTime], [Index]) VALUES (N'16', 7)
INSERT [dbo].[XaxisStartTime] ([XaxisStrtTime], [Index]) VALUES (N'00:00z  Day1', 1)
INSERT [dbo].[XaxisStartTime] ([XaxisStrtTime], [Index]) VALUES (N'00:00z  Day2', 13)
INSERT [dbo].[XaxisStartTime] ([XaxisStrtTime], [Index]) VALUES (N'02:00z  Day1', 2)
SET IDENTITY_INSERT [dbo].[YaxisDefault] ON 

INSERT [dbo].[YaxisDefault] ([Id], [UserName], [YaxisFuncName], [YaxisIntvVal], [YaxisViewTypeName]) VALUES (1, N'default', N'QSO  Rate', N'60', N'Column')
SET IDENTITY_INSERT [dbo].[YaxisDefault] OFF
INSERT [dbo].[YaxisFunction] ([YaxisFuncName], [Index]) VALUES (N'Country  Rate', 7)
INSERT [dbo].[YaxisFunction] ([YaxisFuncName], [Index]) VALUES (N'Country  Sum', 8)
INSERT [dbo].[YaxisFunction] ([YaxisFuncName], [Index]) VALUES (N'Mult  Rate', 11)
INSERT [dbo].[YaxisInterval] ([YaxisIntvVal], [Index]) VALUES (N'1', 6)
INSERT [dbo].[YaxisInterval] ([YaxisIntvVal], [Index]) VALUES (N'10', 4)
INSERT [dbo].[YaxisInterval] ([YaxisIntvVal], [Index]) VALUES (N'15', 3)
INSERT [dbo].[YaxisViewType] ([YaxisViewTypeName], [Index]) VALUES (N'Area', 5)
INSERT [dbo].[YaxisViewType] ([YaxisViewTypeName], [Index]) VALUES (N'Area 3D', 6)
INSERT [dbo].[YaxisViewType] ([YaxisViewTypeName], [Index]) VALUES (N'Column', 1)
/****** Object:  Index [IX_CatAssistedEnum]    Script Date: 1/22/2017 9:45:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_CatAssistedEnum] ON [dbo].[CatDefault]
(
	[CatAssistedEnum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CatBandEnum]    Script Date: 1/22/2017 9:45:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_CatBandEnum] ON [dbo].[CatDefault]
(
	[CatBandEnum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CatNoOfTxEnum]    Script Date: 1/22/2017 9:45:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_CatNoOfTxEnum] ON [dbo].[CatDefault]
(
	[CatNoOfTxEnum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CatOperatorEnum]    Script Date: 1/22/2017 9:45:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_CatOperatorEnum] ON [dbo].[CatDefault]
(
	[CatOperatorEnum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CatPowerEnum]    Script Date: 1/22/2017 9:45:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_CatPowerEnum] ON [dbo].[CatDefault]
(
	[CatPowerEnum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FiltBnd]    Script Date: 1/22/2017 9:45:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_FiltBnd] ON [dbo].[FiltDefaullt]
(
	[FiltBnd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FiltCont]    Script Date: 1/22/2017 9:45:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_FiltCont] ON [dbo].[FiltDefaullt]
(
	[FiltCont] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_FiltCQZoneVal]    Script Date: 1/22/2017 9:45:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_FiltCQZoneVal] ON [dbo].[FiltDefaullt]
(
	[FiltCQZoneVal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_FiltPref]    Script Date: 1/22/2017 9:45:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_FiltPref] ON [dbo].[FiltDefaullt]
(
	[FiltPref] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_XaxisDurationTime]    Script Date: 1/22/2017 9:45:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_XaxisDurationTime] ON [dbo].[XaxisDefault]
(
	[XaxisDurationTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_XaxisStrtTime]    Script Date: 1/22/2017 9:45:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_XaxisStrtTime] ON [dbo].[XaxisDefault]
(
	[XaxisStrtTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_YaxisFuncName]    Script Date: 1/22/2017 9:45:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_YaxisFuncName] ON [dbo].[YaxisDefault]
(
	[YaxisFuncName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_YaxisIntvVal]    Script Date: 1/22/2017 9:45:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_YaxisIntvVal] ON [dbo].[YaxisDefault]
(
	[YaxisIntvVal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_YaxisViewTypeName]    Script Date: 1/22/2017 9:45:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_YaxisViewTypeName] ON [dbo].[YaxisDefault]
(
	[YaxisViewTypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_YaxisViewTypeName]    Script Date: 1/22/2017 9:45:08 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_YaxisViewTypeName] ON [dbo].[YaxisViewType]
(
	[YaxisViewTypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CatDefault]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CatDefault_dbo.CatAssisted_CatAssistedEnum] FOREIGN KEY([CatAssistedEnum])
REFERENCES [dbo].[CatAssisted] ([CatAssistedEnum])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CatDefault] CHECK CONSTRAINT [FK_dbo.CatDefault_dbo.CatAssisted_CatAssistedEnum]
GO
ALTER TABLE [dbo].[CatDefault]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CatDefault_dbo.CatBand_CatBandEnum] FOREIGN KEY([CatBandEnum])
REFERENCES [dbo].[CatBand] ([CatBandEnum])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CatDefault] CHECK CONSTRAINT [FK_dbo.CatDefault_dbo.CatBand_CatBandEnum]
GO
ALTER TABLE [dbo].[CatDefault]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CatDefault_dbo.CatNoOfTx_CatNoOfTxEnum] FOREIGN KEY([CatNoOfTxEnum])
REFERENCES [dbo].[CatNoOfTx] ([CatNoOfTxEnum])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CatDefault] CHECK CONSTRAINT [FK_dbo.CatDefault_dbo.CatNoOfTx_CatNoOfTxEnum]
GO
ALTER TABLE [dbo].[CatDefault]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CatDefault_dbo.CatOperator_CatOperatorEnum] FOREIGN KEY([CatOperatorEnum])
REFERENCES [dbo].[CatOperator] ([CatOperatorEnum])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CatDefault] CHECK CONSTRAINT [FK_dbo.CatDefault_dbo.CatOperator_CatOperatorEnum]
GO
ALTER TABLE [dbo].[CatDefault]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CatDefault_dbo.CatPower_CatPowerEnum] FOREIGN KEY([CatPowerEnum])
REFERENCES [dbo].[CatPower] ([CatPowerEnum])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CatDefault] CHECK CONSTRAINT [FK_dbo.CatDefault_dbo.CatPower_CatPowerEnum]
GO
ALTER TABLE [dbo].[FiltDefaullt]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FiltDefaullt_dbo.FiltBand_FiltBnd] FOREIGN KEY([FiltBnd])
REFERENCES [dbo].[FiltBand] ([FiltBnd])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FiltDefaullt] CHECK CONSTRAINT [FK_dbo.FiltDefaullt_dbo.FiltBand_FiltBnd]
GO
ALTER TABLE [dbo].[FiltDefaullt]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FiltDefaullt_dbo.FiltContinent_FiltCont] FOREIGN KEY([FiltCont])
REFERENCES [dbo].[FiltContinent] ([FiltCont])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FiltDefaullt] CHECK CONSTRAINT [FK_dbo.FiltDefaullt_dbo.FiltContinent_FiltCont]
GO
ALTER TABLE [dbo].[FiltDefaullt]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FiltDefaullt_dbo.FiltCQZone_FiltCQZoneVal] FOREIGN KEY([FiltCQZoneVal])
REFERENCES [dbo].[FiltCQZone] ([FiltCQZoneVal])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FiltDefaullt] CHECK CONSTRAINT [FK_dbo.FiltDefaullt_dbo.FiltCQZone_FiltCQZoneVal]
GO
ALTER TABLE [dbo].[FiltDefaullt]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FiltDefaullt_dbo.FiltPrefix_FiltPref] FOREIGN KEY([FiltPref])
REFERENCES [dbo].[FiltPrefix] ([FiltPref])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FiltDefaullt] CHECK CONSTRAINT [FK_dbo.FiltDefaullt_dbo.FiltPrefix_FiltPref]
GO
ALTER TABLE [dbo].[XaxisDefault]  WITH CHECK ADD  CONSTRAINT [FK_dbo.XaxisDefault_dbo.XaxisDuration_XaxisDurationTime] FOREIGN KEY([XaxisDurationTime])
REFERENCES [dbo].[XaxisDuration] ([XaxisDurationTime])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[XaxisDefault] CHECK CONSTRAINT [FK_dbo.XaxisDefault_dbo.XaxisDuration_XaxisDurationTime]
GO
ALTER TABLE [dbo].[XaxisDefault]  WITH CHECK ADD  CONSTRAINT [FK_dbo.XaxisDefault_dbo.XaxisStartTime_XaxisStrtTime] FOREIGN KEY([XaxisStrtTime])
REFERENCES [dbo].[XaxisStartTime] ([XaxisStrtTime])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[XaxisDefault] CHECK CONSTRAINT [FK_dbo.XaxisDefault_dbo.XaxisStartTime_XaxisStrtTime]
GO
ALTER TABLE [dbo].[YaxisDefault]  WITH CHECK ADD  CONSTRAINT [FK_dbo.YaxisDefault_dbo.YaxisFunction_YaxisFuncName] FOREIGN KEY([YaxisFuncName])
REFERENCES [dbo].[YaxisFunction] ([YaxisFuncName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[YaxisDefault] CHECK CONSTRAINT [FK_dbo.YaxisDefault_dbo.YaxisFunction_YaxisFuncName]
GO
ALTER TABLE [dbo].[YaxisDefault]  WITH CHECK ADD  CONSTRAINT [FK_dbo.YaxisDefault_dbo.YaxisInterval_YaxisIntvVal] FOREIGN KEY([YaxisIntvVal])
REFERENCES [dbo].[YaxisInterval] ([YaxisIntvVal])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[YaxisDefault] CHECK CONSTRAINT [FK_dbo.YaxisDefault_dbo.YaxisInterval_YaxisIntvVal]
GO
ALTER TABLE [dbo].[YaxisDefault]  WITH CHECK ADD  CONSTRAINT [FK_dbo.YaxisDefault_dbo.YaxisViewType_YaxisViewTypeName] FOREIGN KEY([YaxisViewTypeName])
REFERENCES [dbo].[YaxisViewType] ([YaxisViewTypeName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[YaxisDefault] CHECK CONSTRAINT [FK_dbo.YaxisDefault_dbo.YaxisViewType_YaxisViewTypeName]
GO
USE [master]
GO
