fieldset {
    border:0;
}
body{
    background-color:#77bbff ;
}
a.navbar-brand {
    color:yellow !important;
    background-color:red;
}
a.help-intro {
      float: left;
  height: 20px;
  padding: 0px 10px 0px 10px;
  margin-top:14px;
  font-size: 14px;
  line-height: 22px;
    color:blue !important;
    background-color:yellow;
    margin-left:20px;
    font-variant:small-caps
}
a.help-intro:hover{
text-decoration: none;

}
a.help-intro:active{
text-decoration: none;

}

/*.overflow-contest-select {
    height:200px;
}*/



label {
    display:block;
    margin: 0px 0px 0px 0px;
}
div.row{
    margin-top:5px;
}

.clear {
    clear:both;
}



div[id^='hdgPnl'], div[id^='hdgAxis'], div[id^='FhdgPnl']{
    height:20px;
    padding:2px 2px 2px 2px;
    border:0;
}
div[id^='Pnl'], div[id^='FPnl']{
    height:70px;
    max-width:90%;
    min-width:470px;
}
div[id^='AxisPnl']{
    height:70px;
    max-width:90%;
    min-width:370px;
}

div[id^='bdyPnlSel'], div[id^='bdyYaxis'],  div[id^='bdyXaxis']{
    height:60px;
    padding:2px 2px 2px 2px;
    /*line-height:1.0;*/
    clear:both;

}
.lq-panel-heading {
    height:20px;
    text-align:center;
        padding:0;

}
.lq-panel-title {
    color:white;
}


.lq-call1-bkgnd {
   background-color:blue;
}
.lq-call2-bkgnd {
   background-color:#ff6a00;
}
.lq-call3-bkgnd {
   background-color:green;
}

.lq-dropdwn{
    font-size: 70%;
    /*line-height: 30px;*/
}
.lq-dropdwn-larger{
    font-size: 80%;
    /*line-height: 30px;*/
}

.lq-contest-selector {
    font-size: 80% !important;
    width: 130px;
    height:25px;
    display: inline;
}
.lq-update-selector{
    min-width:158px;
    max-width:180px;
    border-radius:4px;
}

.lq-call-selector{
    /*width: 140px;*/
    min-width:158px;
    max-width:180px;
    border-radius:4px;
}
.lq-call-text{
    min-width:90px;
    max-width:115px;
}
.lq-call-button{
    min-width:110px;
    max-width:120px;
    text-align:left;
    padding-left:3px;
}

.lq-checkbox{
    line-height: 10px;
}
span[id^='enb_dis']{
    font-size:inherit;
    font-weight:lighter;
    float:right;
    color:#a4a3a3;
    /*width:auto;*/
}

.lq-button{
    font-size:60%;
   height:18px;
   margin-right:5px;
    float:right;

}

.lq-button-big{
    font-size:80%;
   height:33px;
    font-size: 1.0em;
    font-weight: 700;
    color: black;
    background-color: white;
       height:24px;
       border-width:2px;
       border-bottom-style:outset;
       border-bottom-color:#333;
       border-top-style:inset;
        border-top-color:rgba(252, 242, 242, 0.50);
       border-right-color: #333;
        border-right-style:outset;
        border-left-color:rgba(252, 242, 242, 0.50);
        border-left-style:inset;

}
.lq-label-file{
   visibility:visible;
   width:300px;
   height:24px;
    font-size:100%;
    color:green;

}

/*http://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/*/
.lq-FileInput{
    display: inline-block !important;
    /*max-width:500px;
    width:500px;*/
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;

}
.lq-FileInput + label {
    font-size: 1.0em;
    font-weight: 700;
    color: black;
    background-color: white;
       height:24px;
       border-width:2px;
       border-bottom-style:outset;
       border-bottom-color:#333;
       border-top-style:inset;
        border-top-color:rgba(252, 242, 242, 0.50);
       border-right-color: #333;
        border-right-style:outset;
        border-left-color:rgba(252, 242, 242, 0.50);
        border-left-style:inset;
   display: inline-block;
}

.lq-FileInput:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.lq-FileInput:focus + label,
.lq-FileInput + label:hover {
    background-color: rgba(252, 242, 242, 0.50);
}
.lq-FileInputLenabled + label {
	cursor: pointer; /* "hand" cursor */
}
.lq-FileInput:disabled + label {
    opacity: .3;
}
#UploadWintest:disabled
{
    opacity: .3;
}

.lq-inline {
    display: inline;
}

.lq-inline-block {
    display: inline-block;
}

.lq-help {
    color: blue;
    background-color:yellow;
    cursor:help;
    font-size:80%;
    font-variant:small-caps;
    font-weight:bold;
   height:20px;
   margin-right:5px;
    float:right;
}
.lq-helpTab{
    top: 0;
    position: absolute;
    right: 0;
}

.lq-help:hover {
  color: red;
  -webkit-transition: color .5s ease;
  -moz-transition: color .5s ease;
  transition: color .5s ease;

}


.lq-top-margin{
    margin-top: 5px;
}
.lq-graph {
    width:100%;
    /*margin-top:-20px;*/
    vertical-align: top;
}

.lq-LogTitle {
     width:30.0%;
     text-align:center;
     color: white;
}
.lq-LogTime {
     width:8.0%;
     text-align:center;
     color: white;
}

.lq-LogTF {
     background-color: #cff3c1;
}

.lq-LogF {
     padding-left: 5px;
}

.lq-LogU {
    background-color: #fef90d;
}

.lq-LogBN {
     background-color: lightcoral; 
}


.lq-LogVBrdDbl {
     border-left-color:black;
     border-left-width:medium; 
     border-left-style:double; 
     padding-left: 5px;
     background-color: #eee; 
}

.lq-LogBrdRed {
     border-left-color:red;
     border-left-width:thin; 
     border-left-style:solid; 
     padding-left: 2px;
}

.lq-LogBrdBlk {
     border-left-color:black;
     border-left-width:thin; 
     border-left-style:solid; 
     padding-left: 3px;
}

.lq-LogBrdBrn {
     border-left-color:brown;
     border-left-width:thin; 
     border-left-style:solid; 
     padding-left: 3px;
}

.lq-LogRR1 {
     border-left-color:red;
     border-left-width:thin; 
     border-left-style:solid; 
     padding-left: 2px;
}

.rowchangedEven td
{
    background-color: #ebf5e7; 
}
.rowchangedOdd td
{
    background-color: #fbe0e0; 
}

/*input[type=radio] {
    border: 0px;
    width: 50%;
    height: .5em;
}*/

/*https://css-tricks.com/snippets/css/using-font-face/*/
/*conversion http://stackoverflow.com/questions/15744026/font-face-not-displaying-correctly-in-ie*/
@font-face {
     font-family: ArialSlashZero;
      src: url(../fonts/slash_0.ttf) format('truetype'),  /* for android browser*/
           url(../fonts/slash_0-webfont.woff) format('woff');  /*for chrome IE11*/
                                                             
}

/*div[id^= 'gview_jqGrid']{
    font-family:  'ArialSlashZero', Fallback, Arial;
}*/

#jqGridLog {
    font-size: .871em;
}
#jqGridUBN {
    font-size: .871em;
}

#jqGridQso {
    font-size: .821em;
    line-height: 12px;
    /*min-height:18px;*/
}
#gbox_jqGridQso {
    font-size: .821em;
    line-height: 12px;
}

/*http://cssdeck.com/labs/css3-webkit-vertical-scrollbars/*/
.scrollbar
{
	overflow-y: scroll;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 15px;

}

::-webkit-scrollbar:horizontal {
    height: 12px;
    /*for chriome pc qso popup h bar blocking*/
    display:none;
}

::-webkit-scrollbar-thumb {
border-radius: 13px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #000000;
}

::-webkit-scrollbar-track {
    border-radius: 10px;  
    background-color: #ffffff; 
}
@media only screen and (max-width: 640px) {
 #jqGridLog { font-size: .500em; }
 #gbox_jqGridLog { font-size: .500em; }
 #jqGridUBN { font-size: .500em; }
 #gbox_jqGridUBN { font-size: .500em; }
 /*#jqGridQso { font-size: .500em; }
 #gbox_jqGridQso { font-size: .500em; }*/
 }

@media only screen and (max-width: 760px) {
 #jqGridLog { font-size: .571em; }
 #gbox_jqGridLog { font-size: .571em; }
 #jqGridUBN { font-size: .571em; }
 #gbox_jqGridUBN { font-size: .571em; }
 /*#jqGridQso { font-size: .571em; }
 #gbox_jqGridQso { font-size: .571em; }*/
}

@media only screen and (max-width: 992px) {
 #jqGridLog { font-size: .821em; }
 #gbox_jqGridLog { font-size: .821em; }
 #jqGridUBN { font-size: .821em; }
 #gbox_jqGridUBN { font-size: .821em; }
 /*#jqGridQso { font-size: .821em; }
 #gbox_jqGridQso { font-size: .821em; }*/
 }


/*@media only screen and (max-width: 1280px) {
 #jqGridLog { font-size: .785em; }
 #gbox_jqGridLog { font-size: .785em; }
 #jqGridUBN { font-size: .785em; }
 #gbox_jqGridUBN { font-size: .785em; }
 }*/


#warning-message { display: none; }
@media only screen and (max-width:480px)   {
    #wrapper { display:none; }
    #warning-message { display:block; }
}

@media only screen and (orientation:landscape){
    #warning-message { display:none; }
}


/*@media only screen and (orientation:portrait)  {
    #wrapper { display:none; }
    #warning-message { display:block; }
}
@media only screen and (orientation:landscape){
    #warning-message { display:none; }
}*/
/*@media screen and (orientation:landscape) 
{
   body
   {
      background: red;
   }
}*/

/*.ui-menu-divider {
    color: green;
    margin: 5px 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	border-width: 1px 0 0 0;
    text-align:center
}*/
.ui-menu-divider-lq {
    color: green;
    text-align:center
}

/*jquery-ui menu support*/
.ui-menu { 
    position: absolute; 
    width: 100%;
    /*min-width:60px;
    max-width:155px;*/

}

.lq-popup-hdr {
    color: green;
    text-align: center;
}
.lq-popup-subhdr {
    color: red;
    height: 20px;
    text-align: center;
    margin:0;
    font-weight:bold;
}
.lq-popup-list {
    width: 247px;
    display:inline-block ;
    margin-top:5px;
    vertical-align: top;  /* required to get second list to top in chrome */
}

.updateProgress
{
    border-width: 1px;
    border-style: solid;
    background-color: #CCCCCC;
    position: absolute;
    z-index: 1000;
    width: 180px;
    height: 50px;
}
.updateProgressMessage
{
    margin: 3px;
    font-family: Trebuchet MS;
    font-size: medium;
    vertical-align: middle;
    color: green;
    font-weight: bold; 
}

/*2 column list*/
.two-col-list {
    border: 1px solid green;
    overflow: auto;
    margin-bottom:10px;
    padding-left: 10px;
    padding-right:5px;
    /*-moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;*/
        /*vertical-align: top;*/

}

.two-col-list li {
    display: inline;
    /*width: 45%;*/
    width:50%;
    float:left;
    margin: 0;
    padding: 0;
    font-size:100%;
    line-height:17px;
    /*vertical-align: top; /* In case multi-word categories form two lines */
}


.two-col-list li:hover {
    cursor: pointer; 
    background-color: #0073ea; 
    color:white
}

.five-col-list {
    border: 1px solid green;
    overflow: auto;
    max-height: 205px;
    margin-bottom:10px;
    padding-left: 10px;
    padding-right:5px;
    /*-moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;*/
        /*vertical-align: top;*/

}
.five-col-list li {
    display: inline;
    /*width: 45%;*/
    width:20%;
    float:left;
    margin: 0;
    padding: 0;
    font-size:100%;
    line-height:17px;
    /*vertical-align: top; /* In case multi-word categories form two lines */
}

.five-col-list li:hover {
    cursor: pointer; 
    background-color: #0073ea; 
    color:white
}

.TabDivLiCol {
    overflow: auto;
    max-height: 208px;
    margin-bottom:10px;
    padding-left: 10px;
    padding-right:5px;

}

.liCol {
    padding: 0px;
    margin: 0px;
    float: left;
    list-style: none;
}

.liCol li:hover {
    cursor: pointer; 
    background-color: #0073ea; 
    color:white
}


.jqxtab-tab-button{
    font-size:70%;
    text-align:center;
    line-height:18px;
    /*padding:1px 1px 1px 1px;*/
    width:18px;
    /*min-height:15px;
    max-height:70px;*/

}

.Viewtabs-tab-button{
    font-size:60%;
    text-align:left;
    line-height:18px;
    /*padding:1px 1px 1px 1px;*/
    width:80px;
    /*min-height:15px;
    max-height:70px;*/

}

.gridQsoView {
    font-size: .87em;
    margin-top: 2px;
    margin-bottom: 2px;
    /*text-align: center;*/
    line-height: 12px;
    /*padding:1px 1px 1px 1px;*/
}

/*modal support*/
.modal-box {
  display: none;
  position: absolute;
  z-index: 1000;
  /*width: 98%;*/
  /*width:500px;*/
    width:500px;
  background: white;
  border-bottom: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  /*-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 4000ms ease-in;*/

}

.modal-box header,
.modal-box .modal-header {
  padding: .25em .25em;
  border-bottom: 1px solid #ddd;
}

.modal-box header h3,
.modal-box header h4,
.modal-box .modal-header h3,
.modal-box .modal-header h4 { margin: 0; }

.modal-box .modal-body { padding: .1em .1em; }

.modal-box footer,
.modal-box .modal-footer {
  padding: 1em;
  border-top: 1px solid #ddd;
  background: rgba(0, 0, 0, 0.02);
  text-align: right;
}

.modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: fixed; /*too fill all client window*/
  top: 0;
  left: 0;
  /*right:0;
  bottom: 0;*/
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3)  !important;
  /*background-size: cover;*/
}

a.close {
  line-height: 1;
  font-size: 1.5em;
  position: absolute;
  top: 5%;
  right: 2%;
  text-decoration: none;
  color: black;
}

a.close:hover {
  color: red;
  -webkit-transition: color .5s ease;
  -moz-transition: color .5s ease;
  transition: color .5s ease;
}
.CallListTabs{
    margin-left: 5px;
    list-style-type:none;
}

.test {
    color: pink;
}