@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Perpetual Software Solutions<br />
    21060 SW Tutner LN<br />
    Hillsboro, OR  97123<br />
   <abbr title="Phone">P:</abbr>
    503-828-1070
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:feedback@Contestqso.com?Subject=Feeedback">feedback@ContestQso.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>
<p>
    Note: Your email spam filter may block the sending of this email.
    <br />
    If your email to feedback@contestqso.com is blocked or rejected, please send your feedback from your normal Email application.
</p>