@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Perpetual Software Solutions<br />
    21060 SW Tutner LN<br />
    Hillsboro, OR  97123<br />
   <abbr title="Phone">P:</abbr>
    503-828-1070
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:feedback@logqso.com">Support@ContestQso.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>