@{
    ViewBag.Title = "LogQso";
}

@*@Html.Label("Window size:", new { id = "size" });
    @Html.Label("Screen size2:", new { id = "size2" });*@
@*<h2>LogQso</h2>*@


@Html.AntiForgeryToken()


<script type="text/javascript">
    document.getElementById("body").style.visibility = "hidden";
</script>
<div id="wrapper">

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-10 col-xs-12">

            <div class="panel panel-default" id="Pnl1">
                <div class="panel-heading " id="hdgPnl1">
                    <label class="panel-title lq-inline">
                        Contest Category Selection
                    </label>
                    <span id="enb_dis1">
                        <label for="filtercatchk" class="lq-inline">Disable </label>
                        <input type="checkbox" id="filtercatchk" aria-label="..." />
                    </span>
                    <button id="CatDft" class=" btn-group-xs btn-default">
                        Defaults
                    </button>

                </div>
                <div class="panel-body " id="bdyPnlSell1">
                    <fieldset>
                        <div class="lq-inline-block">
                            <label for="Operator">Operator</label>
                            <select name="CatOp" id="CatOp"></select>
                        </div>
                        <div class="lq-inline-block">
                            <label for="CatBnd">Band</label>
                            <select name="CatBnd" id="CatBnd"></select>
                        </div>
                        <div class="lq-inline-block">
                            <label for="CatPower">Power</label>
                            <select name="CatPower" id="CatPower"></select>
                        </div>
                        <div class="lq-inline-block">
                            <label for="CatAssist">Assisted</label>
                            <select name="CatAssist" id="CatAssist"></select>
                        </div>
                        <div class="lq-inline-block">
                            <label for="CatTX"># of TX</label>
                            <select name="CatTX" id="CatTX"></select>
                        </div>

                    </fieldset>
                </div>
            </div>
            <div class="panel panel-default" id="Pnl2">
                <div class="panel-heading" id="hdgPnl2">
                    <label class="panel-title lq-inline">
                        Log QSO Filter Selection
                    </label>

                    <span id="enb_dis2">
                        <label for="filterQsochk" class="lq-inline">Disable </label>
                        <input type="checkbox" id="filterQsochk" aria-label="...">
                    </span>
                    <button id="QsoDft" class=" btn-group-xs btn-default">
                        Defaults
                    </button>

                </div>
                <div class="panel-body" id="bdyPnlSel2">
                    <fieldset>
                        <div class="lq-inline-block">
                            <label for="FiltBand">Band</label>
                            <select name="FiltBand" id="FiltBand"></select>
                        </div>
                        <div class="lq-inline-block">
                            <label for="FiltContinent">Continent</label>
                            <select name="FiltContinent" id="FiltContinent"></select>
                        </div>
                        <div class="lq-inline-block">
                            <label for="FiltCountry">Country</label>
                            <select name="FiltCountry" id="FiltCountry" style="white-space:pre"></select>
                        </div>
                        <div class="lq-inline-block">
                            <label for="FiltCQZone">CQ Zone</label>
                            <select name="FiltCQZone" id="FiltCQZone" ></select>
                        </div>

                    </fieldset>
                </div>
            </div>

        </div>



        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4" id="callPanel1">
            <div class="panel panel-default lq-call-selector">
                <div class="panel-heading lq-panel-heading " id="hdgPn13">
                    <h3 class=" panel-title ">
                        Call1
                    </h3>
                </div>
                <div id="bdyPnl3" class=" panel-body ">
                    <fieldset>
                        <label for=" contest1" id="test2">
                            Contest
                        </label>
                        <div>
                            <button id="Contest1" data-modal-id="popup">CqwwSsb2010</button>
                        </div>
                        <span>
                            Call
                            <span id="enb_dis3">
                                Disable
                                <input type="checkbox" id="chk1" aria-label="...">
                            </span>
                        </span>
                        <input type="text" id="Call1" aria-label="...">
                        <span>
                            Station
                        </span>
                        <input type="text" id="Station1" aria-label="...">
                    </fieldset>

                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4" id="callPanel2">
            <div class="panel panel-default lq-call-selector">
                <div class="panel-heading lq-panel-heading" id="hdgPnl4">
                    <h3 class="panel-title">Call2 </h3>
                </div>
                <div id="bdyPnl4" class="panel-body">
                    <fieldset>
                        <label for="Contest2">Contest</label>
                        <div>
                            <button id="Contest2" data-modal-id="popup">CqwwSsb2010</button>
                        </div>
                        <span>
                            Call
                            <span id="enb_dis4">
                                Disable
                                <input type="checkbox" id="chk2" aria-label="...">
                            </span>
                        </span>
                        <input type="text" id="Call2" />
                        <span>
                            Station
                        </span>
                        <input type="text" id="Station2" aria-label="...">
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4" id="callPanel3">
            <div class="panel panel-default lq-call-selector">
                <div class="panel-heading lq-panel-heading" id="hdgPnl5">
                    <h3 class="panel-title">Call3 </h3>
                </div>
                <div id="bdyPnl5" class="panel-body">
                    <fieldset>
                        <label for="Contest3">Contest</label>
                        <div>
                            <button id="Contest3" data-modal-id="popup">CqwwSsb2010</button>
                        </div>
                        <span>
                            Call
                            <span id="enb_dis5">
                                Disable
                                <input type="checkbox" id="chk3" aria-label="...">
                            </span>
                        </span>
                        <input type="text" id="Call3" />
                        <span>
                            Station
                        </span>
                        <input type="text" id="Station3" aria-label="...">
                    </fieldset>
                </div>
            </div>

        </div>

    </div>
    <div class="row">
        <div class="container">

            <div class="col-md-12 " id="graph">
                <img src="~/image/ChartImg.png" class="img-responsive lq-graph" alt="Missimg">
            </div>
        </div>
    </div>


    <div class="row">
        <div class="container">
            <div class="col-lg-4 col-md-5 col-sm-10 col-xs-10">
                <div class="panel panel-default" id="AxisPnl1">
                    <div class="panel-heading" id="hdgAxisPnl1">
                        <label class="panel-title lq-inline">
                            View Axis Selection
                        </label>

                        <button id="AxisDft" class=" btn-group-xs btn-default">
                            Defaults
                        </button>

                    </div>
                    <div class="panel-body" id="bdyYaxisPnl1">
                        <fieldset>
                            <div class="lq-inline-block">
                                <label for="YaxisFunction">Function</label>
                                <select name="YaxisFunction" id="YaxisFunction"></select>
                            </div>
                            <div class="lq-inline-block">
                                <label for="YaxisInterval">Interval</label>
                                <select name="YaxisInterval" id="YaxisInterval"></select>
                            </div>
                            <div class="lq-inline-block">
                                <label for="YaxisViewType">View Type</label>
                                <select name="YaxisViewType" id="YaxisViewType"></select>
                            </div>

                        </fieldset>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-5 col-sm-10 col-xs-10">
                <div class="panel panel-default" id="AxisPnl2">
                    <div class="panel-heading" id="hdgAxisPnl2">
                        <label class="panel-title lq-inline">
                            Time Scale Selection
                        </label>

                        <button id="XAxisDft" class=" btn-group-xs btn-default">
                            Defaults
                        </button>

                    </div>
                    <div class="panel-body" id="bdyXaxisPnl1">
                        <fieldset>
                            <div class="lq-inline-block">
                                <label for="XaxisStarttime">Start Time</label>
                                <select name="XaxisStarttime" id="XaxisStarttime"></select>
                            </div>
                            <div class="lq-inline-block">
                                <label for="XaxisHours">Hours</label>
                                <select name="XaxisDuration" id="XaxisDuration"></select>
                            </div>

                        </fieldset>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3" id="Counter">
                Visitors
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3" id="Donate">
                Donate
            </div>


        </div>
    </div>



    <div class="row">
        <div class="container">
            <a class="js-open-modal " href="#" data-modal-id="popup2"> Click me </a>
            <div>
                <div>
                    <button id="ContestName1">Select an action</button>
                    <button id="Contest1select">Select an action</button>
                    @*<button id="ContestNa" class="ui-icon ui-icon-triangle-1-s">></button>
                        <span class="ui-icon ui-icon-triangle-1-s"></span>*@
                </div>
                <ul>
                    <li><span style="color:red">Open...</span></li>
                    <li>Save</li>
                    <li>Delete</li>
                </ul>
                <pre>
                <select>
                <option value="shit a    brick"> shit a    brick</option>
                </select>
</pre>

            </div>
        </div>

    </div>


    <div id="popup" class="modal-box clear ">
        <header>
            <a href="#" class="js-modal-close close" title="Cancel selection">X</a>
            <h4> Title</h4>
        </header>
        <div id="WWlist" class=" modal-body">
            <h5 class="lq-popup-subhdr">
                CQ WorldWide
            </h5>
            <ol class="two-col-list">
                <li>Cqww Ssb 2005</li>
                <li>CqwwSsb2006</li>
                <li>CqwwSsb2007</li>
                <li>CqwwSsb2008</li>
                <li>CqwwSsb2009</li>
                <li>CqwwSsb2010</li>
                <li>CqwwSsb2011</li>
                <li>CqwwSsb2012</li>
                <li>CqwwSsb2013</li>
                <li>CqwwSsb2014</li>
                <li>CqwwSsb2015</li>
            </ol>
        </div>
        <div id="WPXlist" class=" modal-body">
            <h5 class="lq-popup-subhdr">
                CQ Wpx
            </h5>
            <ol class="two-col-list">
                <li>CqwpxSsb2010</li>
                <li>CqwpxSsb2011</li>
                <li>CqwpxSsb2012</li>
                <li>CqwpxSsb2013</li>
                <li>CqwpxSsb2014</li>
            </ol>
        </div>
        @*<footer>
                <a href="#" class="js-modal-close">Close Button</a>
            </footer>*@
    </div>



    <div id="popup2" class="modal-box">
        <header>
            <a href="#" class="js-modal-close close">×</a>
            <h3><a href="http://www.jqueryscript.net/tags.php?/Modal/">Modal</a> Title</h3>
        </header>
        <div class="modal-body">
            <p>Modal Body</p>
        </div>
        <footer>
            <a href="#" class="js-modal-close">Close Button</a>
        </footer>
    </div>

</div>

<div id="warning-message">
    this website is only viewable in landscape mode
</div>
