@{
    ViewBag.Title = "Contest Qso";
}

@*@Html.Label("Window size:", new { id = "size" });
    @Html.Label("Screen size2:", new { id = "size2" });*@
@*<h2>LogQso</h2>*@


@Html.AntiForgeryToken()

<script type="text/javascript">
    document.getElementById("body").style.visibility = "hidden";
</script>
<div id="wrapper">

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-10 col-xs-12">

            <div class="panel panel-default" id="Pnl1">
                <div class="panel-heading " id="hdgPnl1">
                    <label class="panel-title lq-inline">
                        Contest Call Category Selection
                    </label>
                    <span id="enb_dis1">
                        <label for="filtercatchk" class="lq-inline">Disable </label>
                        <input type="checkbox" id="filtercatchk" aria-label="..." />
                    </span>
                    <button id="CatDft" class=" btn-group-xs btn-default">
                        Defaults
                    </button>

                </div>
                <div class="panel-body " id="bdyPnlSell1">
                    <fieldset>
                        <div class="lq-inline-block">
                            <label for="Operator">Operator</label>
                            <select name="CatOp" id="CatOp"></select>
                        </div>
                        <div class="lq-inline-block">
                            <label for="CatBnd">Band</label>
                            <select name="CatBnd" id="CatBnd"></select>
                        </div>
                        <div class="lq-inline-block">
                            <label for="CatPower">Power</label>
                            <select name="CatPower" id="CatPower"></select>
                        </div>
                        <div class="lq-inline-block">
                            <label for="CatAssist">Assisted</label>
                            <select name="CatAssist" id="CatAssist"></select>
                        </div>
                        <div class="lq-inline-block">
                            <label for="CatTX"># of TX</label>
                            <select name="CatTX" id="CatTX"></select>
                        </div>

                    </fieldset>
                </div>
            </div>
            <div class="panel panel-default" id="FPnl2">
                <div class="panel-heading" id="FhdgPnl2">
                    <label class="panel-title lq-inline">
                        Log QSO Filter Selection
                    </label>

                    <span id="enb_dis2">
                        <label for="filterQsochk" class="lq-inline">Disable </label>
                        <input type="checkbox" id="filterQsochk" aria-label="...">
                    </span>
                    <button id="QsoDft" class=" btn-group-xs btn-default">
                        Defaults
                    </button>

                </div>
                <div class="panel-body" id="FbdyPnlSel2">
                    <fieldset>
                        <div class="lq-inline-block">
                            <label for="FiltBand">Band</label>
                            <select name="FiltBand" id="FiltBand"></select>
                        </div>
                        <div class="lq-inline-block">
                            <label for="FiltContinent">Continent</label>
                            <select name="FiltContinent" id="FiltContinent"></select>
                        </div>
                        <div class="lq-inline-block">
                            <label for="FiltCountry">Country</label>
                            <select name="FiltCountry" id="FiltCountry" style="white-space:pre"></select>
                        </div>
                        <div class="lq-inline-block">
                            <label for="FiltCQZone">CQ Zone</label>
                            <select name="FiltCQZone" id="FiltCQZone"></select>
                        </div>

                    </fieldset>
                </div>
            </div>

        </div>



        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4" id="callPanel1">
            <div class="panel panel-default lq-call-selector">
                <div class="panel-heading lq-panel-heading " id="hdgPn13">
                    <h3 class=" panel-title ">
                        Call1
                    </h3>
                </div>
                <div id="bdyPnl3" class="panel-body">
                    <fieldset>
                        <label for=" contest1" id="test2">
                            Contest
                        </label>
                        <div>
                            <button id="Contest1" data-modal-id="popup"></button>
                        </div>
                        <label class="lq-inline" for="Call1">Call</label>
                        <span id="enb_dis3" class="lq-inline">
                            <label class="lq-inline" for="chk1"> Disable</label>
                            <input class="lq-inline" type="checkbox" id="chk1" aria-label="...">
                        </span>
                        <button id="Call1" data-modal-id="popupCall1"></button>

                        <div class="lq-inline-block">
                            <label for="Station1">Station</label>
                            <select name="Station1" id="Station1"></select>
                        </div>
                        <div class="lq-inline-block">
                            <label for="Radio1">Radio</label>
                            <select name="Radio1" id="Radio1"></select>
                        </div>
                    </fieldset>

                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4" id="callPanel2">
            <div class="panel panel-default lq-call-selector">
                <div class="panel-heading lq-panel-heading" id="hdgPnl4">
                    <h3 class="panel-title">Call2 </h3>
                </div>
                <div id="bdyPnl4" class="panel-body">
                    <fieldset>
                        <label for="Contest2">Contest</label>
                        <div>
                            <button id="Contest2" data-modal-id="popup"></button>
                        </div>
                        <label class="lq-inline" for="Call2">Call</label>
                        <span id="enb_dis4" class="lq-inline">
                            <label class=" lq-inline" for="chk2"> Disable</label>
                            <input class="lq-inline" type="checkbox" id="chk2" aria-label="...">
                        </span>
                        <button id="Call2" data-modal-id="popupCall2"></button>
                        <div class="lq-inline-block">
                            <label for="Station2">Station</label>
                            <select name="Station2" id="Station2"></select>
                        </div>
                        <div class="lq-inline-block">
                            <label for="Radio2">Radio</label>
                            <select name="Radio2" id="Radio2"></select>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4" id="callPanel3">
            <div class="panel panel-default lq-call-selector">
                <div class="panel-heading lq-panel-heading" id="hdgPnl5">
                    <h3 class="panel-title">Call3 </h3>
                </div>
                <div id="bdyPnl5" class="panel-body">
                    <fieldset>
                        <label for="Contest3">Contest</label>
                        <div>
                            <button id="Contest3" data-modal-id="popup"></button>
                        </div>
                        <label class="lq-inline" for="Call3">Call</label>
                        <span id="enb_dis5" class="lq-inline">
                            <label class=" lq-inline" for="chk3"> Disable</label>
                            <input class="lq-inline" type="checkbox" id="chk3" aria-label="...">
                        </span>
                        <button id="Call3" data-modal-id="popupCall3"></button>
                        <div class="lq-inline-block">
                            <label for="Station3">Station</label>
                            <select name="Station3" id="Station3"></select>
                        </div>
                        <div class="lq-inline-block">
                            <label for="Radio3">Radio</label>
                            <select name="Radio3" id="Radio3"></select>
                        </div>
                    </fieldset>
                </div>
            </div>

        </div>

    </div>
    <div class="container" id="graphcon">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="graph">
                @Html.TabViewInitialSelector()
                <div id="TabViews">
                    <ul style="margin-left: 5px;">
                        <li><a href="#TabViewChart">Chart</a></li>
                        <li><a href="#TabViewLog">Log</a></li>
                        <li><a href="#TabViewSpot">Spots</a></li>
                        <li><a href="#TabViewUpUBN">Upload UBN</a></li>
                        <li><a href="#TabViewUpWT">Upload Wintest </a></li>
                    </ul>
                    <div id="TabViewChart">
                        <img id="ChartRate" class="img-responsive lq-graph" alt="Standby">
                    </div>
                    <div id="TabViewLog">
                        @*<table>
                                <thead>
                                    <tr
                                </thead>
                            </table>*@
                        <div class="lq-inline-block lq-LogTime" s>
                            <label></label>
                        </div>
                       <div class="lq-inline-block lq-LogTitle" id="LCall1" style="background-color:blue">
                            <label>Call1</label>
                        </div>
                        <div class="lq-inline-block lq-LogTitle" id="LCall2" style="background-color:#ff6a00">
                            <label>Call2</label>
                        </div>
                        <div class="lq-inline-block lq-LogTitle" id="LCall3" style="background-color:green">
                            <label>Call3</label>
                        </div>
                        <table id="jqGridLog"></table>
                        <div id="jqGridPager"></div>
                    </div>
                    <div id="TabViewSpot">
                        Hello 1
                    </div>
                    <div id="TabViewUpUBN">
                        World 1
                    </div>
                    <div id="TabViewUpWT">
                        World 2
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-10 col-xs-10">
                <div class="panel panel-default" id="AxisPnl1">
                    <div class="panel-heading" id="hdgAxisPnl1">
                        <label class="panel-title lq-inline">
                            View Axis Selection
                        </label>

                        <button id="AxisDft" class=" btn-group-xs btn-default">
                            Defaults
                        </button>

                    </div>
                    <div class="panel-body" id="bdyYaxisPnl1">
                        <fieldset>
                            <div class="lq-inline-block">
                                <label for="YaxisFunction">Function</label>
                                <select name="YaxisFunction" id="YaxisFunction"></select>
                            </div>
                            <div class="lq-inline-block">
                                <label for="YaxisInterval">Interval</label>
                                <select name="YaxisInterval" id="YaxisInterval"></select>
                            </div>
                            <div class="lq-inline-block">
                                <label for="YaxisViewType">View Type</label>
                                <select name="YaxisViewType" id="YaxisViewType"></select>
                            </div>

                        </fieldset>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-5 col-sm-10 col-xs-10">
                <div class="panel panel-default" id="AxisPnl2">
                    <div class="panel-heading" id="hdgAxisPnl2">
                        <label class="panel-title lq-inline">
                            Time Scale Selection
                        </label>

                        <button id="XAxisDft" class=" btn-group-xs btn-default">
                            Defaults
                        </button>

                    </div>
                    <div class="panel-body" id="bdyXaxisPnl1">
                        <fieldset>
                            <div class="lq-inline-block">
                                <label for="XaxisStarttime">Start Time</label>
                                <select name="XaxisStarttime" id="XaxisStarttime"></select>
                            </div>
                            <div class="lq-inline-block">
                                <label for="XaxisHours">Hours</label>
                                <select name="XaxisDuration" id="XaxisDuration"></select>
                            </div>

                        </fieldset>
                    </div>
                </div>
            </div>

            @*<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3" id="Counter">
                    Visitors
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3" id="Donate">
                    Donate
                </div>*@


        </div>
    </div>




    <div id="popup" class="modal-box  clear ">
        <header>
            <a href="#" class="js-modal-close close" title="Cancel selection">X</a>
            <h4> Title</h4>
        </header>
        <div id="WWssblist" class=" modal-body">
            <h5 class="lq-popup-subhdr">
                CQ WorldWide SSB
            </h5>
            <ol class="two-col-list"></ol>
        </div>
        <div id="WWcwlist" class=" modal-body">
            <h5 class="lq-popup-subhdr">
                CQ WorldWide CW
            </h5>
            <ol class="two-col-list"></ol>
        </div>

        <div id="WPXlist" class=" modal-body">
            <h5 class="lq-popup-subhdr">
                CQ Wpx
            </h5>
            <ol class="two-col-list"></ol>
        </div>
        @*<footer>
                <a href="#" class="js-modal-close">Close Button</a>
            </footer>*@
    </div>



    <div id="popupCall1" class="modal-box">
        <header>
            <a href="#" class="js-modal-close close">×</a>
            <h4> Title</h4>

            @*<h3><a href="http://www.jqueryscript.net/tags.php?/Modal/">Modal</a> Title</h3>*@
        </header>
        <div class="modal-body">
            <div id='tabs1'>
                <ul style='margin-left: 5px;'>
                    @*<li ><a href="#CTab1">1-9</a></li>
                        <li><a href="#CTabA">A</a></li>
                        <li><a href="#CTabB">B</a></li>
                        <li><a href="#CTabC">C</a></li>
                        <li><a href="#CTabD">D</a></li>
                        <li><a href="#CTabE">E</a></li>
                        <li><a href="#CTabF">F</a></li>
                        <li><a href="#CTabG">G</a></li>
                        <li><a href="#CTabH">H</a></li>
                        <li><a href="#CTabI">I</a></li>
                        <li><a href="#CTabJ">J</a></li>
                        <li><a href="#CTabK">K</a></li>*@
                </ul>
                @*<div id="CTab1">Content 1</div>
                    <div id="CTabA">Content A</div>
                    <div id="CTabB">Content B</div>
                    <div id="CTabC">Content B</div>
                    <div id="CTabD">Content B</div>
                    <div id="CTabE">Content B</div>
                    <div id="CTabF">Content B</div>
                    <div id="CTabG">Content B</div>
                    <div id="CTabH">Content B</div>
                    <div id="CTabI">Content B</div>
                    <div id="CTabJ">Content B</div>
                    <div id="CTabK">Content B</div>*@
            </div>
        </div>
        @*<footer>
                <a href="#" class="js-modal-close">Close Button</a>
            </footer>*@
    </div>
    <div id="popupCall2" class="modal-box">
        <header>
            <a href="#" class="js-modal-close close">×</a>
            <h4> Title</h4>
        </header>
        <div class="modal-body">
            <div id='tabs2'>
                <ul style='margin-left: 5px;'></ul>
            </div>
        </div>
    </div>
    <div id="popupCall3" class="modal-box">
        <header>
            <a href="#" class="js-modal-close close">×</a>
            <h4> Title</h4>
        </header>
        <div class="modal-body">
            <div id='tabs3'>
                <ul style='margin-left: 5px;'></ul>
            </div>
        </div>
    </div>



</div>
<div id="updateProgressDiv" class="updateProgress" style="display: none;">
    <div style=" margin-top: 13px; text-align: center;">
        <img id="Image1" src="../../image/indicator_snake.gif" imagealign="Middle" />
        <span class="updateProgressMessage">QRX Loading ...</span>
    </div>


</div>

<div id="warning-message">
    this website is only viewable in landscape mode on your device
</div>
